body {
  background-color: whitesmoke;
}
.jumbotron {
  background-color: aliceblue;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: blanchedalmond;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-hotel {
  border-color: black;
  width: 100%;
}
.footer-addres-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
