@color1: aliceblue;
@color2: whitesmoke;

.margenes(@top : 0px, @bottom : 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

body {
    background-color: @color2;
}

.jumbotron {
    background-color: @color1;
    color: black;
    .margenes(50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: blanchedalmond;
    .margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-hotel {
    border-color: black;
    width: 100%;
}

.footer-addres-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}